[phases.setup]
nixPkgs = ["python312", "libGL", "glib", "zlib"]

[phases.install]
cmds = ["python -m pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "python manage.py migrate && gunicorn Traffic.wsgi --bind 0.0.0.0:$PORT"
